<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.datatools.routines.ui.launchConfigurationType">
<stringAttribute key="RoutineParameter.VARNAME1" value="crazyguy4891@gmail.com"/>
<stringAttribute key="RoutineParameter.VARNAME2" value="9871163561"/>
<booleanAttribute key="RunOptions.CollectActuals" value="false"/>
<booleanAttribute key="RunOptions.CommitChanges" value="true"/>
<booleanAttribute key="RunOptions.GatherPerformanceInformation" value="false"/>
<stringAttribute key="RunRoutineConfiguration.AfterRunStmtTerminator" value=";"/>
<stringAttribute key="RunRoutineConfiguration.BeforeRunStmtTerminator" value=";"/>
<stringAttribute key="RunRoutineConfiguration.ConnectionProfile" value="SAMPLE"/>
<stringAttribute key="RunRoutineConfiguration.DefaultSchema" value="AKADIAN"/>
<booleanAttribute key="RunRoutineConfiguration.EnableComparison" value="false"/>
<stringAttribute key="RunRoutineConfiguration.RoutineMangledName" value="AUTHENTICATESIGNUP_VARCHAR_VARCHAR_INTEGER"/>
<stringAttribute key="RunRoutineConfiguration.RoutineName" value="AUTHENTICATESIGNUP"/>
<stringAttribute key="RunRoutineConfiguration.RoutineSchema" value="AKADIAN"/>
<stringAttribute key="RunRoutineConfiguration.RoutineSignature" value="AKADIAN.AUTHENTICATESIGNUP(VARCHAR(128), VARCHAR(128), INTEGER)"/>
<stringAttribute key="RunRoutineConfiguration.RoutineType" value="RunRoutineConfiguration.StoredProcedure"/>
<stringAttribute key="ServiceOptions.Project" value="LOCAL"/>
<stringAttribute key="testStatus" value="PASS"/>
</launchConfiguration>